* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header-style{
    background-color: #ABBFCF;
}
.header-style img{
    width: 8rem;
    height: auto;
}
.header-style h1{
    font-size: 80%;
    text-align:right;
}
.carousel-style{
    background-color: #58768f;
    padding: 1rem;
}
.tituloArticulo{
 font-size: 100%;
 padding: 1rem;
}
.imagenesArticulo img{
    height: auto;
    width: 30rem;
    justify-items: left;
    padding: 1rem;
}
.footer {
    text-align: center;
    background-color: #ABBFCF;
    font-size: 70%;
    margin: 0;
}
.footer img {
    height: 2vh;
    width: auto;
}
.formularioCentrado{
    padding: 3vh;
}
.botones{
margin-top: 2rem;
}
.gallery-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
padding: 1rem;
gap: 1rem;
}
.gallery-item{
    position: relative;
    overflow: hidden;
}
.gallery-item:hover img {
    transform:scale(1.2);
    transition: 1s;
}
.gallery-item p{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.5rem;
    margin: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(51, 51, 51, 1));
    width: 100%;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-item:nth-child(1){
    grid-column-start: span 3;
}
.gallery-item:nth-child(4){
    grid-row-start: span 2;
}
.gallery-item:nth-child(10){
    grid-column-start: span 2;
}
.gallery-item:nth-child(6){
    grid-column-start: span 2;
    grid-row-start: span2;
}