@import '../base/extends';
@import '../base/mixin';
.articulo p{
    @extend %disposicion-texto;
}
.articulo img {
    height: 350px;
    @extend %disposicion-texto;
}
 h2{
    @include titulo (90%, 10px)
}
label {
    font-size: 80%;
}
select option{
    font-size: 90%;
}
.dibujos img{
    display: flex;
    justify-content: center;
    height: 30%;
}
